# Start the process when the VPS comes up, and stop it when it goes down
start on runlevel [2345]
stop on runlevel [016]

# If the process crashes, restart it up to 10 times in 5min
respawn
respawn limit 10 5

# Log stdout to file
# console log

# Set these to the desired uid/gid you want Java to run under
setuid {{ user }}
setgid {{ user }}

# Set any environment vars you might need
# env BAR=quux

chdir {{ project_root }}
exec node server.js

